html { 
  background: url(../includes/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wishlist{
    border-collapse: collapse;
	border: 2px solid black;
}

a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: underline;
	color: red;
}

a:active {
    text-decoration: underline;
	color: red;
}
